# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.venv/
venv/
env/
ENV/
.env

# Project specific caches and driver downloads
downloaded_files/
.pytest_cache/
.ipynb_checkpoints/

# OS-specific files
Thumbs.db
Desktop.ini
.DS_Store

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
